<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/produtos.css">
    <title>Produtos</title>
</head>

<body>
    <div class="container">
        <header class="header">
            <a class="logo-link" href="/"><img class="logo" src="../images/logo-PI-white.svg" alt="logo-site"></a>
            <div class="nav">
                <a class="nav-link" href="#">Produtos</a>
                <a class="nav-link" href="/ranking">Ranking</a>
            </div>
            <div class="dropdown">
                <img src="../images/perfil-white.svg" />
                <div class="dropdown-content">
                    <%if (status == "LoggedIn"){%>
                        <a href="/logout">Logout</a>
                    <%}else{%>
                        <a href="/login">Login</a>
                        <a href="/cadastro">Cadastro</a>
                    <%}%>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="main-direcionamento">
                <div class="direcionamento">
                    <h1 class="frase-direcionamento">Descubra tudo sobre nós, SafeSavings.</h1>
                    <a href="/">Sobre Nós</a>
                </div>
                <div class="img-direcionamento">
                    <img src="./images/logo-empresa.svg" alt="logo SafeSavings">
                </div>
            </div>
            <aside class="filtro">
                <h2 class="titulo-filtros">Filtros</h2>
                <h4 class="tipo-filtros">Categoria</h4>
                <form class="form-filtros" name="form_products" action="">
                    <div class="categoria">
                        <input type="checkbox" name="produtos" value="aquecedores">
                        <label for="aquecedores">Aquecedores</label>
                        <br>
                        <input type="checkbox" name="produtos" value="fogao">
                        <label for="fogao">Fogão</label>
                        <br>
                        <input type="checkbox" name="produtos" value="microondas" >
                        <label for="microondas">Micro-ondas</label>
                        <br>
                        <input type="checkbox" name="produtos" value="lampadas">
                        <label for="lampadas">Lâmpadas</label>
                        <br>
                        <input type="checkbox" name="produtos" value="lavaESeca">
                        <label for="lavaESeca">Lava e Seca</label>
                        <br>
                        <input type="checkbox" name="produtos" value="Ventilador">
                        <label for="Ventilador">Ventilador</label>
                        <br>
                        <input type="checkbox" name="produtos" value="televisores">
                        <label for="televisores">Televisores</label>
                        <br>
                        <input type="checkbox" name="produtos" value="geladeiras">
                        <label for="geladeiras">Geladeiras</label>
                    </div>
                </form>
                <h4 class="tipo-filtros">Eficiência energética</h4>
                <form class="form-filtros" action="">
                    <input type="radio" name="categoriaA" id="categoriaA">
                    <label for="categoriaA">A</label>
                    <br>
                    <input type="radio" name="categoriaB" id="categoriaB">
                    <label for="categoriaB">B</label>
                    <br>
                    <input type="radio" name="categoriaC" id="categoriaC">
                    <label for="categoriaC">C</label>
                    <br>
                    <input class="btn-filtros" type="submit" value="Aplicar filtros">
                </form>
            </aside>
            <aside class="carrinho">
                <h2 style="text-align: center;"> Carrinho </h2>
                <table class="table">
                    <br>
                    <br>
                    <br>
                    <tr>
                        <th style="text-align: left; width: 90%;">Produto</th>
                        <th style="text-align:center">Quantidade</th>
                        <th>Preço</th>
                        <tr><td><img src="./images/linha.svg" style="height: 40px;"></td></tr>

                    </tr>

                    <% 
                    if(cart.length > 0)
                    {
                        let total = 0;

                        cart.forEach(item => {
                    %>
                    <tr>
                        <td style="font-weight: 900;"><%= item.product_name %></td>
                        <td><%= item.quantity %></td>
                        <td>R$<%= item.price %></td>
                        <td><button type="button" style=" margin-left: 10px; cursor: pointer; padding-top: 5px; border: none; background-color: rgba(255, 255, 255, 0);" onclick="remove_item(<%= item.product_id %>)"><img style="height: 25px; width: 25px;" src="./images/remove.png"></button></td>
                    </tr>
                    <%
                            total += parseFloat(item.quantity) * parseFloat(item.price);
                        })
                    %>
                    <tr><td><img src="./images/linha.svg" style="height: 40px;"></td></tr>
                    <tr>
                        
                        <td colspan="3" aling="right"><b>Total</b></td>

                        

                        <td>R$<%= total %></td>
                        <td>&nbsp;</td>
                    </tr>
                    <%
                    }
                    else
                    {
                    %>

                    <tr>
                        <td align="center">Carrinho Vazio</td>
                    </tr>

                    <%
                    }
                    %>
                </table>
                <div id="comprar_container"><button id="btn_comprar" onclick="window.location.href = '/checkout';">Comprar</button></div>
            </aside>
            <div class="products">
            <% products.forEach(product => { %>
                <div class="product_item">
                    <div id="prod_header">
                        <h3><b><%= product.product_name %></b></h3>
                        <h3 <%if(product.EE_label == "A"){ %>
                            style="color: #6dc700;" <%}else if(product.EE_label == "B"){ %>
                            style="color: #ffee03;" <%} else if(product.EE_label == "C"){%>
                            style="color: #da0000;" <%}%>
                        ><b><%= product.EE_label %></b></h3>  
                    </div>
                    <img src="./products/<%=product.category%>.png"/>
                    <div class="product_info">
                        <h4><b>R$<%= product.price %></b></h4>
                        <h4><b>Eficiência: <%= product.efficiency %></b></h4>
                    </div>
                    <form method="post" action="/add_cart">
                        <input type="hidden" id="product_category" name="product_category" value="<%= product.category %>" />

                        <input type="hidden" id="product_id" name="product_id" value="<%= product.product_id %>" />

                        <input type="hidden" id="product_name" name="product_name" value="<%= product.product_name %>" />

                        <input type="hidden" id="product_efficiency" name="product_efficiency" value="<%= product.efficiency %>" />

                        <input type="hidden" id="price" name="price" value="<%= product.price %>" />

                        <input type="submit" class="product-btn" value="Adicionar ao carrinho" />
                    </form>
                </div>
                <% }) %>
            </div>
            

    </div>   
        </main>
    </div>
</body>

</html>
<script type="text/javascript" src="/js/filter.js"></script>
<script>

    function remove_item(item_id)
    {
        if(confirm("Quer realmente remover esse item?"))
        {
            window.location.href = `/remove_item?id=${item_id}`;
        }
    }

</script>